/* ------------------------------ */
/* -------- BELOW 1150px -------- */
/* ------------------------------ */

@media (max-width: 1150px) {
  .container {
    max-width: 1000px;
  }

  header {
    min-height: 400px;
  }

  .header-text img {
    margin-top: 50px;
  }

  .header-text h2 {
    font-size: 35px;
  }

  .header-text p {
    font-size: 17px;
  }

  .companies {
    padding: 20px 0px;
  }

  .company-items {
    font-size: 18px;
    margin-right: 24px;
  }

  .api-heading {
    font-size: 36px;
  }

  .cards {
    flex-wrap: wrap;
    gap: 60px;
    row-gap: 20px;
  }

  .blog-cards {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .faq-content h2 {
    font-size: 36px;
  }

  .faq-content p {
    margin-right: 50px;
  }

  .faq-content h4 {
    font-size: 14px;
    margin-right: 50px;
  }

  .download {
    padding: 80px 0;
  }

  .download-content {
    font-size: 36px;
  }
}

/* ------------------------------ */
/* -------- BELOW 950px -------- */
/* ------------------------------ */

@media (max-width: 950px) {
  .container {
    max-width: 850px;
  }

  header {
    min-height: 340px;
  }

  .header-text img {
    margin-top: 40px;
  }

  .header-text h2 {
    font-size: 28px;
  }

  .header-text p {
    font-size: 14px;
  }

  .company-items {
    font-size: 16px;
    margin-right: 20px;
  }

  .api-heading {
    font-size: 34px;
  }

  .cards {
    gap: 40px;
    row-gap: 20px;
  }

  .faq-content p {
    margin-right: 20px;
  }

  .faq-content h4 {
    display: none;
  }

  .download-content {
    font-size: 30px;
  }

  .download-email input {
    padding: 10px 34px;
  }

  .download-email button {
    padding: 12px 26px;
  }

  .list {
    gap: 30px;
  }
}

/* ------------------------------ */
/* -------- BELOW 750px -------- */
/* ------------------------------ */

@media (max-width: 750px) {
  .container {
    max-width: 600px;
  }

  nav {
    display: none;
  }

  .menu-btn {
    display: block;
    float: right;
    z-index: 11;
  }

  .logo {
    margin-top: 0;
  }

  .header-text img {
    margin-top: 30px;
  }

  .header-text h2 {
    margin-top: 10px;
    font-size: 32px;
  }

  .header-text p {
    margin: 16px 0 20px;
    font-size: 15px;
  }

  .header-image {
    float: right;
    width: 64%;
  }

  .company-items {
    font-size: 20px;
    margin: 14px 0 0 0;
  }

  .section-api {
    padding: 120px 0 50px;
  }

  .cards {
    gap: 10px;
  }

  .card {
    padding: 40px 15px 40px 30px;
  }

  .faq {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .faq-content p {
    margin: 20px 0;
  }

  .faq-image {
    width: 70%;
    justify-self: center;
  }

  .download {
    display: inline-block;
    text-align: center;
  }

  .download-content {
    margin-bottom: 30px;
  }

  .section-footer {
    padding: 50px 0;
  }

  .footer {
    flex-wrap: wrap;
  }

  .footer-logo {
    margin-bottom: 10px;
  }

  .footer-logos {
    margin: 30px 20px 0 0;
  }

  .logos-list {
    margin-top: 10px;
  }
}

/* ------------------------------ */
/* -------- BELOW 600px -------- */
/* ------------------------------ */

@media (max-width: 600px) {
  .container {
    max-width: 450px;
  }

  .header-text h2 {
    font-size: 30px;
  }

  .header-image {
    float: none;
    width: 75%;
    margin: 0 0 -100px;
  }

  .companies {
    margin-top: 100px;
  }

  .company-items {
    margin: 0 20px 10px 0;
  }

  .section-api {
    padding: 30px 0 50px;
  }

  .blog-heading {
    flex-wrap: wrap;
  }

  .blog-card {
    flex-wrap: wrap;
  }

  .blog-image {
    width: 100%;
  }

  .blog-content {
    padding: 30px 40px 60px;
  }

  .faq-image {
    width: 90%;
  }

  .download-email {
    padding: 3px 6px;
  }

  .download-email input {
    padding: 10px 10px;
  }

  .download-email button {
    padding: 12px 20px;
  }

  .list {
    flex-wrap: wrap;
    row-gap: 10px;
  }
}
